<h2>Transactions</h2>

<div class="table-box d-none d-md-block"  *ngIf="pageData && pageData.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Address</th>
                <th>Chain</th>
                <th>Buy Amount</th>
                <th>Date</th>
                <th>OPCH Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pageData">
                <td><span class="name"><span class="image"><img src="/assets/images/{{item.pmt_curr}}.png" alt="{{item.pmt_curr}}"></span> {{item.pmt_curr}}</span></td>
                <td>{{item.wallet_addr}}</td>
                <td>{{item.pmt_chain}}</td>
                <td>${{item.pmt_usdvalue}} <span *ngIf="item.pmt_curr === 'ETH'">({{item.pmt_amount}} ETH)</span></td>
                <td>{{item.created | date: 'dd/MMM/yyyy'}}</td>
                <td>${{item.opch_price}}</td>
                <td>{{item.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-box responsvie-table-view d-md-none d-block" *ngIf="pageData && pageData.length > 0"> 
    <div class="row g-3 align-items-end"  *ngFor="let item of pageData">
        <div class="col-6">
            <span class="name"><span class="image"><img src="/assets/images/{{item.pmt_curr}}.png" alt="{{item.pmt_curr}}"></span> {{item.pmt_curr}}</span><br>
            <span class="address">{{item.wallet_addr}}</span>
        </div>
        <div class="col-3">
            <span class="label">Chain</span>
            <td>{{item.pmt_chain}}</td>
            <span class="label">Buy Amount</span>
            <span class="amount">${{item.pmt_usdvalue}}</span>
            {{item.created | date: 'dd/MMM/yyyy'}}
            
        </div>
        <div class="col-3">
            <span class="label">Status</span>
            {{item.status}}
            <span class="label">OPCH price</span>
            <span class="amount">${{item.opch_price}}</span>
        </div>
    </div>
</div>

<div class="table-box no-data" *ngIf="pageData && pageData.length === 0">
    <br><br>
    No Data Available!
    <br><br><br>
</div>

<div bsModal #promocionalModal="bs-modal" class="modal fade promocional-dialog" id="promocionalDialog"  tabindex="-1" role="dialog" aria-labelledby="promocional-dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
		  	<button type="button" class="dialog-close" (click)="promocionalModal.hide()" aria-label="Close"></button>
			<div class="row">
				<div class="col-12">
					<h3>Join Us On our social <br> networks for more <br><span>updates</span></h3>
					<div class="social-icon">
						<a href="https://t.me/opticash_io" target="_blank"><img src="/assets/images/icon_telegram.svg" alt=""></a>
						<a href="https://www.instagram.com/opticash.io" target="_blank"><img src="/assets/images/icon_instagram.svg" alt=""></a>
						<a href="https://discord.gg/R27c2yDjuV" target="_blank"><img src="/assets/images/icon_discord.svg" alt=""></a>
						<a href="https://twitter.com/Opticash_io" target="_blank"><img src="/assets/images/icon_twitter.svg" alt=""></a>
						<a href="https://www.facebook.com/Opticash.io" target="_blank"><img src="/assets/images/icon_facebook.svg" alt=""></a>
					</div>
					<p>Click any icon to join</p>
				</div>
			</div>
	  	</div>
	</div>
</div>