<h2>Transactions</h2>

<div class="table-box d-none d-md-block">
    <table class="table">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Address</th>
                <th>Buy Price</th>
                <th>Date</th>
                <th>OPCH Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="name"><span class="image"><img src="/assets/images/icon-usdt.svg" alt=""></span> USDT</span></td>
                <td>0x4Hd94erGJt89hkkjgrnC1E876e454tbbeE09C97A76</td>
                <td>$2,360</td>
                <td>03/Nov/2022</td>
                <td>$0.10</td>
                <td><img src="/assets/images/graphs.png" alt=""></td>
            </tr>
            <tr>
                <td><span class="name"><span class="image"><img src="/assets/images/icon-eth.svg" alt=""></span> Ethereum</span></td>
                <td>0x4Hd94erGJt89hkkjgrnC1E876e454tbbeE09C97A76</td>
                <td>$2,360</td>
                <td>03/Nov/2022</td>
                <td>$0.10</td>
                <td><img src="/assets/images/graphs.png" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-box responsvie-table-view d-md-none d-block">
    <div class="row g-3 align-items-end">
        <div class="col-6">
            <span class="name"><span class="image"><img src="/assets/images/icon-usdt.svg" alt=""></span> USDT</span><br>
            <span class="address">0x4Hd94erGJt89hkkjgrnC1E876e454tbbeE09C97A76</span>
        </div>
        <div class="col-3">
            <span class="label">Buy price</span>
            <span class="amount">$2,360</span>
            03/Nov/2022
        </div>
        <div class="col-3">
            <!-- <span class="label">Status</span>
            pending -->
            <span class="label">OPCH price</span>
            <span class="amount">$0.10</span>
        </div>
    </div>
    <div class="row g-3 align-items-end">
        <div class="col-6">
            <span class="name"><span class="image"><img src="/assets/images/icon-usdt.svg" alt=""></span> USDT</span><br>
            <span class="address">0x4Hd94erGJt89hkkjgrnC1E876e454tbbeE09C97A76</span>
        </div>
        <div class="col-3">
            <span class="label">Buy price</span>
            <span class="amount">$2,360</span>
            03/Nov/2022
        </div>
        <div class="col-3">
            <!-- <span class="label">Status</span>
            pending -->
            <span class="label">OPCH price</span>
            <span class="amount">$0.10</span>
        </div>
    </div>
</div>