.table-box{background-color:#1F1F1F; border-radius:8px; padding:2rem; max-height:500px; overflow:auto;
    .table{color:#FFF; margin-bottom:0;
        &>:not(caption)>*>*{border-bottom-width:0; padding:.75rem .5rem; vertical-align:middle;}
        thead th{color:#C3FF43; font-size:0.875rem; font-weight:normal;}
        tbody td{ font-size:12px;}
        .name{ font-size:0.875rem; font-weight:bold;}
        .image{ display:inline-block; width:36px;}
    }
}

.responsvie-table-view{ color:#FFF; font-size:9px;
    & > .row{border-bottom:solid 1px #626262; padding:2rem 0;
        &:last-child{border-bottom:none;}
    }
    .name{ font-size:12px; font-weight:bold;}
    .amount{ font-size:14px; font-weight:bold; display:block;}
    .image{ display:inline-block; width:18px;}
    .address{word-wrap: break-word; margin-top:1rem; display:block;}
    .label{display:block; color:#C3FF43; margin-bottom:.1rem; margin-top:.5rem;}
}

.no-data{text-align:center; font-size:1.25rem;}

.promocional-dialog{
    .modal-content{background:url(/assets/images/social-pop-up-web.png) no-repeat; background-size:100% 100%; padding:2rem;}
    h3{ font-family:'nasalizationbold', sans-serif; font-size:2.5rem; text-transform: uppercase; color:#FFF; font-weight:600;  margin-top:2rem;  margin-bottom:2rem;
        span{color:#C3FF43;}
    }
    .btn{font-size:1.625rem; font-weight:700; padding:.65rem 3rem;}
    .dialog-close{background:#FFF url(/assets/images/X.svg) center center no-repeat; background-size:60% 60%; height:3rem; width:3rem; border-radius:50%;}
    .social-icon{ margin-bottom:2rem;
        a{display:inline-block; margin-right:2rem;}
        img{width:3rem;}
    }
    p{color:#FFF; font-size:1rem; margin:0;}
}