<div class="user-pages navbar-expand-lg">
    <div class="header-block"></div>
    <header class="header fixed-top d-flex">
        <div class="logo"><a routerLink="/dashboard"><img src="/assets/images/logo.png" alt=""></a></div>
        <div class="user-header">
            <div class="info">
                <h1>Welcome, {{userData.name}}!</h1>
                <p>{{date | date:'EEEE, dd MMMM  yyyy'}}</p>
            </div>
            <div class="ms-auto d-flex align-items-center">
                <div class="wallat d-none d-sm-block">
                    <button *ngIf="!walletAddress" (click)="showSelectNetworkModal()" class="btn btn-primary">Connect Wallet</button>
                    <span *ngIf="walletAddress">
                        <span *ngIf="!wrongNetwork" class="address"><img [src]="'/assets/images/'+networkType+'.png'" alt=""> {{walletAddress}}</span>
                        <button *ngIf="!wrongNetwork" class="disconnect" (click)="logoutWallet()">Disconnect</button>
                        <button *ngIf="wrongNetwork" (click)="changeNetwork()" class="btn btn-danger">Change Network</button>
                    </span>
                </div>
                
                <div class="notification">
                    <span class="notification-icon" (click)="showNotification()"><img src="/assets/images/notification.svg" alt=""></span>
                    <span *ngIf="notificationsNewcount > 0" class="dot"></span>
                    <div *ngIf="notificationPop" class="notification-pop">
                        <div class="pop-top">
                            <h3>Whats New? <span class="badge" *ngIf="notificationsNewcount > 0">{{notificationsNewcount}}</span></h3>
                        </div>
                        <div class="pop-body">
                            <ul>
                                <li *ngFor="let data of notificationsData">
                                    <a *ngIf="data.link" (click)="updateNotification(data.id)" href="{{data.link}}" target="_blank">
                                        <h4>{{data.title}}</h4>
                                        <div class="date">{{data.created | date}}</div>
                                        <p>{{data.body}}</p>
                                    </a>
                                    <span *ngIf="!data.link" (click)="updateNotification(data.id)">
                                        <h4>{{data.title}}</h4>
                                        <div class="date">{{data.created | date}}</div>
                                        <p>{{data.body}}</p>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button #eref class="navbar-toggler lines-button" [ngClass]="{'collapsed' : isCollapsed}" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" (click)="isCollapsed = !isCollapsed;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="visually-hidden">Menu Toggle</i>
            </button>
        </div>
    </header>
    <div class="menu-overlay" [hidden]="isCollapsed" (click)="isCollapsed = true;"></div>
    <div class="container-page">
        <nav class="side-bar navbar-collapse collapse" [ngClass]="{'show' : !isCollapsed}"  id="navbar">
            <div>
                <ul class="side-menu">
                    <li class="dashboard" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/dashboard">Dashboard</a></li>
                    <li class="transactions" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/transactions">Transactions</a></li>
                    <!-- <li class="wallet" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/my-token">My Token</a></li> -->
                    <li class="buy-token" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/deposit">Buy Token</a></li>
                    <li class="separator"></li>
                    <li class="account" routerLinkActive="active"><a (click)="hideMenu()" routerLink="my-account" >Account</a></li>
                    <li class="logout"><a (click)="hideMenu()" href="javascript:void()" (click)="logout()">Logout</a></li>
                </ul>
                <div class="help">
                    <a href="mailto:help@opticash.io?subject=Help required with dashboard!" target="_blank"><img src="/assets/images/help-cemter.svg" alt=""></a>
                </div>
            </div>
        </nav>
        <div class="main-page">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="modal fade {{selectNetworkModal}}" id="confirmModalBox" [ngStyle]="{'display': selectNetworkModal == 'show' ? 'block' : 'none' }">
    <div class="modal-dialog modal-dialog-centered site-modal">
        <div class="modal-content">
            <div class="modal-top">
                <img (click)="hideSelectNetworkModal()" src="./assets/images/icon-close.svg" alt="" style="cursor:pointer;">
                <h2>Select Network</h2>
            </div>
            <!-- <div class="select-icon">
                <img [src]="'/assets/images/'+networkType+'.png'" alt="">
                <select class="form-control" [(ngModel)]="web3Network" (change)="getNetworkType()">
                    <option value="ETH_NETWORK">ETHEREUM MAINNET</option>
                    <option value="BSC_NETWORK">BINANCE SMARTCHAIN</option>
                    <option value="POLY_NETWORK">POLYGON MAINNET</option>
                </select>
            </div> -->
            <div class="btn-group dropdown" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn-control">
                    <img class="currency-icon" [src]="'/assets/images/'+networkType+'.png'" alt=""> {{networkName}}
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                    <li class="dropdown-item" (click)="getNetworkType('ETH_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/ETH.png'" alt=""> ETHEREUM MAINNET
                    </li>
                    <li class="dropdown-item" (click)="getNetworkType('BSC_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/BNB.png'" alt=""> BINANCE SMARTCHAIN
                    </li>
                    <li class="dropdown-item" (click)="getNetworkType('POLY_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/MATIC.png'" alt=""> POLYGON MAINNET
                    </li>
                </ul>
            </div>
            <span class="modal-info">Recommended Network: <span>Ethereum Mainnet</span></span>
            <br>
            <div class="buttons">
                <button class="btn btn-primary" (click)="connectWalletAction()">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade {{selectNetworkModal}}" [ngStyle]="{'display': selectNetworkModal == 'show' ? 'block' : 'none' }"></div>
<div class="notification-overlay" (click)="notificationPop = !notificationPop" *ngIf="notificationPop"></div>
