<div class="user-pages navbar-expand-lg">
    <div class="header-block"></div>
    <header class="header fixed-top d-flex">
        <div class="logo"><a routerLink="/dashboard"><img src="/assets/images/logo.png" alt=""></a></div>
        <div class="user-header">
            <div class="info">
                <h1>Welcome, {{userData.name}}!</h1>
                <!-- <p>Monday, 07 November 2022</p> -->
            </div>
            <div class="ms-auto d-flex align-items-center">
                <div class="wallat">
                    <button *ngIf="!walletAddress" (click)="connectWalletAction()" class="btn btn-primary">Connect Wallet</button>
                    <span *ngIf="walletAddress">
                        <span *ngIf="!wrongNetwork" class="address"><img src="/assets/images/eth.svg" alt=""> {{walletAddress}}</span>
                        <button *ngIf="!wrongNetwork" class="disconnect" (click)="logoutWallet()">Disconnect</button>
                        <button *ngIf="wrongNetwork" (click)="changeNetwork()" class="btn btn-danger">Change Network</button>
                    </span>
                </div>
                
                <div class="notification ">
                    <img src="/assets/images/notification.svg" alt="">
                    <!-- <span class="dot"></span> -->
                </div>
            </div>
            <button #eref class="navbar-toggler lines-button" [ngClass]="{'collapsed' : isCollapsed}" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" (click)="isCollapsed = !isCollapsed;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="visually-hidden">Menu Toggle</i>
            </button>
        </div>
    </header>
    <div class="menu-overlay" [hidden]="isCollapsed" (click)="isCollapsed = true;"></div>
    <div class="container-page">
        <nav class="side-bar navbar-collapse collapse" [ngClass]="{'show' : !isCollapsed}"  id="navbar">
            <div>
                <ul class="side-menu">
                    <li class="dashboard" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/dashboard">Dashboard</a></li>
                    <li class="transactions" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/transactions">Transactions</a></li>
                    <!-- <li class="wallet" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/my-token">My Token</a></li> -->
                    <li class="buy-token" routerLinkActive="active" ><a (click)="hideMenu()" routerLink="/deposit">Buy Token</a></li>
                    <li class="separator"></li>
                    <li class="account" routerLinkActive="active"><a (click)="hideMenu()" routerLink="my-account" >Account</a></li>
                    <li class="logout"><a (click)="hideMenu()" href="javascript:void()" (click)="logout()">Logout</a></li>
                </ul>
                <div class="help">
                    <a href="mailto:help@opticash.io?subject=Help required with dashboard!" target="_blank"><img src="/assets/images/help-cemter.svg" alt=""></a>
                </div>
            </div>
        </nav>
        <div class="main-page">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>