.green-box{ display:flex; justify-content: center; align-items: center; background-color:#2E351C; border-radius:5px; padding:.75rem .5rem; color: #FFFFFF; font-size:12px; text-decoration:underline;
    img{display: inline-block; margin-left:5px; height:21px;}
    & > div{margin:0 10px; cursor: pointer;}
}

.p1{font-size:18px; line-height:1.1em;}

.modal-confirm{ max-width:400px; border-radius:16px;
    .modal-content{padding:1.5rem 2rem; background-color:#0A0A0A; border:solid 2px #5c5a5a; border-radius:20px;}
    .modal-top{ text-align:center;
        img{max-width:32px;}
        h2{font-size:1.625rem; margin:.5rem 0 .75rem; font-weight:600;}
    }
    .box{display:flex; align-items:center; background: #151515; border: 1px solid #788F45; border-radius:6px; height:55px; padding:10px; font-weight:600; color:#FFF;
        img{width:22px; margin-right:15px;}
        span{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display:block; font-size:12px; color:#FFF; font-weight:normal; margin-left:auto;}
    }
    .box-sep{text-align:center;
        img{width:32px;}
    }
    p{text-align:center;  margin:.5rem 0 .75rem; font-weight:500;}
    .buttons{display:flex;}
    .btn{padding:.75rem 1rem; font-size:1rem; font-weight:bold; text-transform:uppercase; width:100%;}
    .btn + .btn{margin-left:10px;}
}

.modal-backdrop.show{opacity:.85;}

.tx-process{display:flex; flex:1; margin:15px 20px 0; justify-content:space-between; position: relative;
    &::after{content:''; position:absolute; left:0; right:0; top:50%; height:1px; background-color:#788F45;}
    span{display:inline-block; background: linear-gradient(260deg, #C3FF43 20%, #E4D14E 96%); height:32px; width:32px; border-radius:50%; text-align:center; color:#000; line-height:30px; font-weight:600;
    position: relative; z-index:10;}
    span.disable{background:#4E4E4E;}
}
.loader{
    svg path,
    svg rect{
        fill: #FFF;
    }
}
