.green-box{ display:flex; justify-content: center; align-items: center; background-color:#2E351C; border-radius:5px; padding:.75rem .5rem; color: #FFFFFF; font-size:12px; text-decoration:underline;
    img{display: inline-block; margin-left:5px; height:21px;}
    & > div{margin:0 10px; cursor: pointer;}
}

.p1{font-size:18px; line-height:1.1em;}

.tx-process{display:flex; flex:1; margin:15px 20px 0; justify-content:space-between; position: relative;
    &::after{content:''; position:absolute; left:0; right:0; top:50%; height:1px; background-color:#788F45;}
    span{display:inline-block; background: linear-gradient(260deg, #C3FF43 20%, #E4D14E 96%); height:32px; width:32px; border-radius:50%; text-align:center; color:#000; line-height:30px; font-weight:600;
    position: relative; z-index:10;}
    span.disable{background:#4E4E4E;}
}
.loader{
    svg path,
    svg rect{
        fill: #FFF;
    }
}
