<div class="top">
    <h1>Sign In</h1>
    <p>Sign in with your opticash credential</p>
</div>
<form class="site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-box">
        <input type="text" formControlName="email" class="form-control" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            <div *ngIf="f['email'].errors['maxlength']">Email must not exceed 100 characters</div>
        </div>
    </div>
    <div class="form-box">
        <input type="password" formControlName="passwd" class="form-control" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f['passwd'].errors }" />
        <div *ngIf="submitted && f['passwd'].errors" class="invalid-feedback">
            <div *ngIf="f['passwd'].errors['required']">Password is required</div>
        </div>
    </div>
    <div class="forgot-password"><a routerLink="/auth/forgot-password">Forgot password?</a></div>
    <div class="form-button d-grid">
        <button type="submit" [disabled]="isButtonClicked" class="btn btn-primary btn-block">SIGN IN</button>
    </div>
    <p class="bottom">Don't have an account? <a routerLink="/auth/sign-up">Sign Up Here</a></p>
</form>