.resend{ padding:1.5rem 0 0rem; font-size:1.125rem; text-align:center;
    a{color: #E0D84D; cursor: pointer;}
}
h1{font-size: 1.875rem;}
.bottom{margin-top:.5rem;}

.info-box{text-align: center; padding:3rem 0 2rem;
    h2{font-size:1.375rem; font-weight:normal; margin-bottom:1.75rem;}
    .image { margin-bottom:1.75rem;
        img{width:100px;}
    }
}