<div class="top">
    <h1>Reset Password</h1>
    <p>Please enter your OTP to reset your password</p>
</div>
<form class="site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-box">
        <input type="text" formControlName="otp" class="form-control" type="tel" placeholder="OTP" 
        [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" maxlength="6" />
        <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
            <div *ngIf="f['otp'].errors['required']">OTP is required</div>
            <div *ngIf="f['otp'].errors['pattern']">OTP is invalid</div>
        </div>
    </div>
    <div class="form-box">
        <input type="password" formControlName="passwd1" class="form-control" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f['passwd1'].errors }" />
        <div *ngIf="submitted && f['passwd1'].errors" class="invalid-feedback">
            <div *ngIf="f['passwd1'].errors['required']">Password is required</div>
            <div *ngIf="f['passwd1'].errors['minlength']"> Password must be at least 3 characters</div>
            <div *ngIf="f['passwd1'].errors['maxlength']">Password must not exceed 20 characters</div>
        </div>
    </div>
    <div class="form-box">
        <input type="password" formControlName="passwd2" class="form-control" placeholder="Repeat Password"
            [ngClass]="{ 'is-invalid': submitted && f['passwd2'].errors }" />
        <div
            *ngIf="submitted && f['passwd2'].errors" class="invalid-feedback" >
            <div *ngIf="f['passwd2'].errors['required']">Confirm Password is required</div>
            <div *ngIf="f['passwd2'].errors['matching']">Confirm Password does not match</div>
        </div>
    </div>
    <br>
    <div class="form-button d-grid">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    <div class="resend">
        <a *ngIf="counter <= 0 else timer" (click)="resend()">Resend</a>
        <ng-template #timer>Resend OTP in <strong>{{counter}}s</strong> </ng-template>
    </div>

    <p class="bottom">Already have an account? <a routerLink="/auth/sign-in">Sign In Here</a></p>
</form>
