<div *ngIf="isForgotPassword; else emilInfo">
<div class="top">
    <h1>Forgot Password</h1>
    <p>Please enter your email to reset your password</p>
</div>
<form class="site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-box">
        <input type="text" formControlName="email" class="form-control" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            <div *ngIf="f['email'].errors['maxlength']">Email must not exceed 100 characters</div>
        </div>
    </div>
    <br>
    <div class="form-button d-grid">
        <button type="submit" [disabled]="isButtonClicked" class="btn btn-primary btn-block">SIGN IN</button>
    </div>
    <!-- <div class="resend"><a href="#">Resend</a></div> -->
    <p class="bottom">Already have an account? <a routerLink="/auth/sign-in">Sign In Here</a></p>
</form>
</div>
<ng-template #emilInfo>
    <div class="info-box" >
        <div class="image"><img src="/assets/images/icon-email.svg"/></div>
        <h2>Kindly check your email to reset <br> your password</h2>
        <div class="form-button d-grid">
            <button type="submit" class="btn btn-primary btn-block" routerLink="/auth/reset-password">Reset Password</button>
        </div>
    </div>
</ng-template>
