<div class="row">
    <div class="col-lg-8" *ngIf="pageData">
        <div class="d-flex justify-content-between box-top">
            <h2>Your Wallet</h2>
            <div class="right">1 OPCH = 0.10 USD</div>
        </div>
        <div class="balance-box">
            <div class="row">
                <div class="col-md-4 order-2 order-md-1">
                    <div class="balance-left">
                        <h3>Your Balance</h3>
                        <div class="balance">
                            {{pageData.user_tokenBal}} OPCH 
                            <span>Available Balance</span>
                        </div>
                        <button type="button" [disabled]="!isWalletCreated" routerLink="/deposit" class="btn btn-primary" disabled>Deposit</button>
                    </div>
                </div>
                <div class="col-md-8 order-1 order-md-2 align-self-end">
                    <div class="raise-box d-flex">
                        <img src="/assets/images/3d-coin.png" alt="">
                        <div>
                            <h3>Amount raised progress</h3>
                            <div class="amount"> {{pageData.total_raised}} <span> {{hardcapPercentage | number : '1.2-2'}}%</span></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width.%]="hardcapPercentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label">Amount Raised</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br class="d-none d-sm-block">
        <div class="thank-you d-flex align-items-center">
            <div class="flex-shrink-0"><img src="/assets/images/thank-you.jpg" alt="Thank You"></div>
            <div class="flex-grow-1 m-3">
                <h3>Thank you for your interest in Opticash</h3>
                <p>You can purchase OPCH tokens now on the Buy and home page. You can get a quick response to any questions and chat with the project in our Telegram: https://t.me/opticash_io or email Info@opticash.io </p>
                <a href="#">INVITE YOUR FRIENDS</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- <div class="d-flex justify-content-between box-top">
            <h2>Buy Token</h2>
        </div>
        <div class="deposit-box">
            <div class="box-tab">
                <div class="tab active">Buy</div>
                <div class="tab"></div>
            </div>
            <form class="site-form2">
                <div class="form-box ">
                    <label>Choose cryptocurrency</label>
                    <div class="form-icon">
                        <img src="/assets/images/image.png" alt="">
                        <select class="form-control">
                            <option value="ETH">ETH</option>
                            <option value="USDT">USDT</option>
                        </select>
                    </div>
                </div>
                <div class="form-box">
                    <label>Amount in OPCH <span>1 OPCH = 0.10 USD</span></label>
                    <input type="text" class="form-control" >
                </div>
                <div class="button d-grid">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div> -->
    </div>
</div>
