<h2>Your Wallet</h2>
<div class="row">
    <div class="col-lg-7" *ngIf="pageData">
        <div class="balance-box">
            <div class="row">
                <div class="col-md-4 order-2 order-md-1">
                    <div class="balance-left">
                        <h3>Your Balance</h3>
                        <div class="balance">
                            {{pageData.user_tokenBal}} OPCH
                            <span>Available Balance</span>
                        </div>
                        <button type="button" [disabled]="!isWalletCreated" routerLink="/deposit" class="btn btn-primary" disabled>Deposit</button>
                    </div>
                </div>
                <div class="col-md-8 order-1 order-md-2 align-self-end">
                    <div class="raise-box d-flex">
                        <img src="/assets/images/3d-coin.png" alt="">
                        <div>
                            <h3>Amount raised progress</h3>
                            <div class="amount"> {{pageData.total_raised}} <span> {{hardcapPercentage | number : '1.2-2'}}%</span></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width.%]="hardcapPercentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label">Amount Raised</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br class="d-none d-sm-block">
    </div>
    <div class="col-lg-5">
        <div class="box1">
            <div class="top">
                <h3>FIRST STEP</h3>
                <p>Enter your ETH Wallet address (ERC 20)</p>
            </div>
            <div *ngIf="isWalletCreated;else saveAddress">
                <div class="address-box">
                    <div class="address">
                        <span *ngIf="walletAddress">{{walletAddress}}</span>
                        <a (click)="isWalletCreated = false">edit</a>
                    </div>
                </div>
                <button class="btn btn-primary" routerLink="/deposit">MAKE DEPOSIT</button>
            </div>
            <ng-template #saveAddress>
                <div class="address-box">
                    <input type="text" [(ngModel)]="walletAddress" class="form-control" placeholder="Wallet Address"
                    [ngClass]="{ 'is-invalid': submitted && (walletAddress == '' || invalidAddress) }" />
                </div>
                <!-- <div *ngIf="walletAddress===''">Address is required</div>
                <div *ngIf="invalidAddress">Address is invalid</div> -->
                <div *ngIf="submitted && (walletAddress==='' || invalidAddress)" class="invalid-feedback">
                    <div *ngIf="walletAddress===''">Address is required</div>
                    <div *ngIf="invalidAddress">Address is invalid</div>
                </div>
                <button class="btn btn-primary" (click)="updateWalletAddress()">Save Address</button>
            </ng-template>
        </div>
    </div>
</div>
