.balance-box .btn{font-weight:bold;}
.invalid-feedback{display:block; margin-bottom:1rem; margin-top:-1rem;}
.box-top{
    h2{font-size:1.125rem; font-weight:600;}
    .right{font-size:1rem; font-weight:600; color:#B3FF12;}
}


.thank-you{background:#0D0F00 url('/assets/images/thank-you-bg.svg') no-repeat center right; border-radius:20px; padding:0 0px 10px 15px;
    h3{font-size:1.275rem; margin:0 0 10px; font-weight:700;}
    p{margin:0 0 10px; font-size:0.875rem; font-weight:600;
        a{color: #A1A1A1; text-decoration:underline;}
    }
    & > a{text-transform:uppercase; text-decoration:underline; font-size:0.937rem;  font-weight:500;}
}

.top-info{  margin-bottom:2rem;
    h1{font-family:'Source Sans Pro', sans-serif; color:#FFF; font-weight:600; font-size:1.500rem; margin:0; text-transform:capitalize;}
    p{margin:0;}
}

.wallat{position: relative;
    .btn{font-size:1rem; padding:.5rem 1.5rem; border-radius:6px; font-weight:600;}
    .address{font-size:11px; color:#FFF;  display:inline-block;
        // border: solid 1px #ffffff4a; padding: 5px;
        max-width:120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        img{width:20px; margin-right:5px; display:inline-block;}
    }
    .wrongNetwork{font-size:11px!important; max-width:120px!important;}
    .btn-dark{vertical-align:top; margin-left:10px; background-color:#4E4E4E; color:#C3FF43; font-size:11px!important; padding:0.75rem 1.5rem!important;}
}

.social-icon{ margin:10px 0 0; padding:0; list-style:0;
    li{display:inline-block; margin-right:10px; cursor:pointer; width:28px;}
}

@media (max-width: 767px) {
    .thank-you { margin-bottom:2rem;
        .flex-shrink-0 img{ width:100px;}
    }
}