<div class="row">
    <div class="col-lg-8" *ngIf="pageData">
        <div class="d-none d-sm-flex justify-content-between box-top">
            <h2>Your Wallet</h2>
            <div class="right">1 OPCH = 0.10 USD</div>
        </div>
        <div class="top-info d-block d-sm-none">
            <h1>Welcome, {{userData.name}}!</h1>
            <p>{{date | date:'EEEE, dd MMMM  yyyy'}}</p>
        </div>
        <div class="balance-box">
            <div class="row">
                <div class="col-md-4 order-2 order-md-1">
                    <div class="balance-left">
                        <h3>Your Balance</h3>
                        <div class="balance">
                            {{pageData.user_tokenBal}} OPCH 
                            <span>Available Balance</span>
                        </div>
                        <div class="d-none d-sm-block">
                            <button type="button" [disabled]="!isWalletConnected" routerLink="/deposit" class="btn btn-primary">TOP UP</button>
                        </div>
                        <div class="wallat d-flex d-sm-none align-items-center">
                            <button *ngIf="!isWalletConnected" (click)="showSelectNetworkModal()" class="btn btn-primary">Connect Wallet</button>
                            <ng-container *ngIf="isWalletConnected">
                                <span *ngIf="!wrongNetwork" class="address"><img src="/assets/images/eth.svg" alt=""> {{walletAddress}}</span>
                                <!-- <button *ngIf="wrongNetwork" (click)="changeNetwork()" class="btn btn-danger">Change Network</button> -->
                                <span class="text-danger wrongNetwork" *ngIf="wrongNetwork">Please choose {{configToken[this.web3Network].Web3Modal.chainName}}</span>
                                <button class="btn btn-dark" (click)="logoutWallet()">Disconnect Wallet</button>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-1 order-md-2 align-self-end">
                    <div class="raise-box d-flex">
                        <img src="/assets/images/3d-coin.png" alt="">
                        <div>
                            <h3>Amount raised progress</h3>
                            <div class="amount"> ${{pageData.total_raised | number : '1.2-2'}} <span> {{hardcapPercentage | number : '1.2-2'}}%</span></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width.%]="hardcapPercentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label">Amount Raised</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br class="d-none d-sm-block">
        <div class="thank-you d-none d-md-flex align-items-center">
            <div class="flex-shrink-0"><img src="/assets/images/thank-you.jpg" alt="Thank You"></div>
            <div class="flex-grow-1 m-3">
                <h3>Thank you for your interest in Opticash</h3>
                <p>You can purchase OPCH tokens now on the Buy and home page. You can get a quick response to any questions and chat with the project in our Telegram: <a href="https://t.me/opticash_io" target="_blank">https://t.me/opticash_io</a>  or email <a href="mailto:Info@opticash.io">Info@opticash.io</a></p>
                <a href="javascript:void(0)">INVITE YOUR FRIENDS</a>
                <ul class="social-icon">
                    <li (click)="shareInvitation('twitter')"><img src="/assets/images/twitter-icon.svg" alt="twitter"></li>
                    <li (click)="shareInvitation('whatsapp')"><img src="/assets/images/whatsapp-icon.svg" alt="whatsapp"></li>
                    <li (click)="shareInvitation('instagram')"><img src="/assets/images/instagram-icon.svg" alt="instagram"></li>
                    <li (click)="shareInvitation('telegram')"><img src="/assets/images/telegram-icon.svg" alt="telegram"></li>
                </ul>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-4">
        <div class="d-none d-sm-flex justify-content-between box-top">
            <h2>Buy Token</h2>
        </div>
        <app-deposit [isSelector]="true"></app-deposit>
    </div>
</div>


<div class="modal fade {{selectNetworkModal}}" id="confirmModalBox" [ngStyle]="{'display': selectNetworkModal == 'show' ? 'block' : 'none' }">
    <div class="modal-dialog modal-dialog-centered site-modal">
        <div class="modal-content">
            <div class="modal-top">
                <img (click)="hideSelectNetworkModal()" src="./assets/images/icon-close.svg" alt="" style="cursor:pointer;">
                <h2>Select Network</h2>
            </div>
            <!-- <div class="select-icon">
                <img [src]="'/assets/images/'+networkType+'.png'" alt="">
                <select class="form-control" [(ngModel)]="web3Network" (change)="getNetworkType()">
                    <option value="ETH_NETWORK">ETHEREUM MAINNET</option>
                    <option value="BSC_NETWORK">BINANCE SMARTCHAIN</option>
                    <option value="POLY_NETWORK">POLYGON MAINNET</option>
                </select>
            </div> -->
            <div class="btn-group dropdown" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn-control">
                    <img class="currency-icon" [src]="'/assets/images/'+networkType+'.png'" alt=""> {{networkName}}
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                    <li class="dropdown-item" (click)="getNetworkType('ETH_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/ETH.png'" alt=""> ETHEREUM MAINNET
                    </li>
                    <li class="dropdown-item" (click)="getNetworkType('BSC_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/BNB.png'" alt=""> BINANCE SMARTCHAIN
                    </li>
                    <li class="dropdown-item" (click)="getNetworkType('POLY_NETWORK')">
                        <img class="currency-icon" [src]="'/assets/images/MATIC.png'" alt=""> POLYGON MAINNET
                    </li>
                </ul>
            </div>
            <span class="modal-info">Recommended Network: <span>Ethereum Mainnet</span></span>
            <br>
            <div class="buttons">
                <button class="btn btn-primary" (click)="connectWalletAction()">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade {{selectNetworkModal}}" [ngStyle]="{'display': selectNetworkModal == 'show' ? 'block' : 'none' }"></div>
