<div class="token-page">
    <div class="token-box">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3>Top up your account with more opticash token!</h3>
                <p>Your next 100x Token</p>
            </div>
            <div>
                <button class="btn btn-light">Buy Token</button>
            </div>
        </div>
    </div>

    <div class="nav nav-tabs" id="tokenTab" role="tablist">
        <button class="btn active" id="ecosystemPartners-tab" data-bs-toggle="tab" data-bs-target="#ecosystemPartners" type="button" role="tab" aria-controls="ecosystemPartners" aria-selected="true">Ecosystem Partners</button>
        <button class="btn" id="team-tab" data-bs-toggle="tab" data-bs-target="#team" type="button" role="tab" aria-controls="team" aria-selected="false">Team</button>
        <button class="btn" id="strategic-tab" data-bs-toggle="tab" data-bs-target="#strategic" type="button" role="tab" aria-controls="strategic" aria-selected="false">Strategic</button>
        <button class="btn" id="treasury-tab" data-bs-toggle="tab" data-bs-target="#treasury" type="button" role="tab" aria-controls="treasury" aria-selected="false">Treasury</button>
        <button class="btn" id="community-tab" data-bs-toggle="tab" data-bs-target="#community" type="button" role="tab" aria-controls="community" aria-selected="false">Community</button>
        <button class="btn" id="privateSale-tab" data-bs-toggle="tab" data-bs-target="#privateSale" type="button" role="tab" aria-controls="privateSale" aria-selected="false">Private Sale</button>
        <button class="btn" id="bounty-tab" data-bs-toggle="tab" data-bs-target="#bounty" type="button" role="tab" aria-controls="bounty" aria-selected="false">Bounty</button>
    </div>
    <div class="tab-content token-content" id="tokenTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3>My Token</h3>
            <div class="box-list row">
                <div class="col-md-3 col-6">
                    <div class="box first">
                        <p>
                            <span>Current balance</span>
                            3839393030.90
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="box">
                        <p><span>Allocation</span>
                        3393030.90</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="box">
                        <p><span>Unlocked</span>
                        19393030.90</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="box">
                        <p><span>Claimed</span>
                        9393030.90</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
    </div>

    <button class="claim-btn btn btn-primary">Claim Now</button>

</div>