 .token-page{max-width:1100px; margin-bottom:5rem;}

.token-box{background:#010A06  url(/assets/images/token-box.png) no-repeat right center; padding:1.75rem 6rem 1.75rem 3rem; margin-bottom:4rem;
    h3{font-size:1.375rem; font-weight:700;}
    p{color: #C3FF43; font-size:.875rem; margin:0;}
    .btn{font-size:.875rem; font-weight:700; padding:.75rem 2rem;}
}


.nav{border:none; display:flex; flex-wrap: wrap; margin:0 -.35rem 4rem; 
    button{ flex: 1 0 0%; background:#1F1F1F; border-radius:6px; font-size:.875rem; color: #7C7C7C;  margin:0 .35rem; padding:.75rem .25rem;
        &:hover,&.active{background:#161C16; color: #C3FF43; border:1px solid #D3FF73;}
    }
}

.token-content{ margin-bottom:3rem;
    h3{font-size:1.125rem; font-weight:600; margin-bottom:2rem;}
    .box{background: #1A1C22; border-radius: 10px; height:120px; display: flex; align-items: center; justify-content: center;
        &.first{background-color:#0E1C07;
            p{color:#C3FF43;
                span{color:#FFF;}
            }
        }
        p{margin:0; font-size:1.25rem; font-weight:700; color:#FFF;
            span{display:block; font-size:.875rem; font-weight:500; text-align:center; line-height:normal;}
        }
    }
}

.claim-btn{font-size:.875rem; font-weight:700; padding:.75rem 2rem;}

.placeholder-box{ flex:1; display:flex; align-items:center;  justify-content: center; height:60vh; 
    .box{max-width:300px; font-size:1.125rem; color:#FFF; text-align:center;}
    .btn{font-weight:700; padding:.75rem 3rem;}
}
// .page-overlay{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(52, 52, 52, 0.40); z-index:100;
//     flex:1; display:flex; align-items:center;  justify-content: center;
//     .box{width:100px; font-size:1.125rem; color:#1A1C22; background-color:#C3FF43; border-radius:10px; text-align:center;}
// }


@media (max-width: 767px) {
    .token-box{padding:1.75rem 2rem;
        .btn{white-space: nowrap;}
        h3{font-size:1rem; margin:0 1.5rem .1rem 0; line-height:1.3em;}
    }
    .nav{margin-bottom:3rem;
         button{ flex:0 0 auto; width:31%; margin:0 1% 1rem;}
    }
    .token-content .box.first{margin-bottom:1rem;}
}