.account-box{background-color:#1F1F1F; border-radius:8px; padding:3rem 3rem;
    .btn{font-size:.9rem; font-weight:600; border-radius:6px; padding:.5rem 1.5rem}
    h3{font-size:1.625rem; font-weight:600;}
    .top{margin-bottom:2rem;
        .left{padding-bottom:1rem; border-bottom:1px solid #626262;}
        .right{padding-left:2rem;}
        p{font-size:12px; margin:0; color:#FFF;
            img{display:inline-block; margin-left:.5rem;}
        }
    }
    .view{ color:#FFF; font-size:0.875rem;
        span{display:block; color:#C3FF43; font-size:0.813rem; margin-bottom:.25rem;}
    }
}